.base-container {
    background-image: url("../img/telaga-bg-1.png");
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
}

.content {
    font-family: "Larsseit";
    margin-top: 6rem;
    padding: 20px 20px;
}

.header {
    font-size: 48px;
    letter-spacing: 0.15em;
    position: absolute;
    left: 4rem;
}

.pp3__button {
    background: #66286869;
    position: absolute;
    left: 4rem;
    border: 0;
    border-radius: 3rem;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    font-size: 18px;
    letter-spacing: 0.15em;
    line-height: 25px;
    margin-top: 12rem;   
}