.pp3__login-base-container {
    background-image: url("../img/telaga-bg-1.png");
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.pp3__login-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Larsseit";
    color: #fff;
}

.pp3__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(121, 82, 128, 0.3);
    margin-top:7rem;
    margin-left: 7rem;
    border-radius: 3rem;
    padding: 4rem;
}

.pp3__form-group {
    padding: 1rem 1rem 2rem 1rem;
    font-size: 20px;

}

.pp3__form-group input {
    height: 30px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2.5px solid white;
}

.pp3__button-container {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.pp3__button-container button {
    color: #fff;
    background-color: rgb(140, 55, 151);
    border: 0;
    border-radius: 6rem;
    outline: none;
    cursor: pointer;
    padding: 1rem 4rem;
    font-family: "Larsseit-Bold";
    font-size: 18px;
    line-height: 25px;
}
