body {
    background-color: #1b1b1b;
}

.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b1b1b;
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Arial";
    margin-top: 100px;
    padding: 20px 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    font-family: "Arial";
    font-size: 48px;
    font-weight: 700;
    align-items: center;
}