.pp3__navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 2rem;
}

.pp3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pp3__navbar-links_logo {
    margin-right: 2rem;
}

.pp3__navbar-links_logo img {
    width: 60px;
    height: 60px;    
}

.pp3__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.pp3__navbar-links_container p,
.pp3__navbar-sign p,
.pp3__navbar-menu_container p {
    color:#fff;
    font-family: var(--font-family);
    font-weight:500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.pp3__navbar-item {
    flex: 0.1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

.pp3__navbar-item button {
    color: #fff;
    background: #ff4820;
    border: 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 1rem 2rem;
    font-family: var(--font-family);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}