* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
}

body {
  background: #1b1b1b!important;
}

a {
  color: unset;
  text-decoration: none;
}

.bg {
  background-color: #1b1b1b
}

.gradient__text {
  background:var(--gradient-text);
  background-clip: text;
  -webkit-background-clop: text ;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  padding: 4rem 6rem;
}

.scale-up-right {
-webkit-animation: scale-up-right 700ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-right 700ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-right {
  0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
  }
  100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
  }
}

@keyframes scale-up-right {
  0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
  }
  100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
  }
}

@media screen and (max-width: 700px) { 
  .section__padding {
      padding: 4rem;
  }

  .section__margin {
      padding: 4rem;
  }
}

@media screen and (max-width: 550px) { 
  .section__padding {
      padding: 4rem 2rem;
  }

  .section__margin {
      padding: 4rem 2rem;
  }
}